
.__bg_color_common{
    background-color: #E5E9F2;
}
.__bg_color_green{
    color: white;
    background-color: #67C23A;
}
.__bg_color_blue{
    color: white;
    background-color: #409EFF;
}
.__bg_color_red{
    color: white;
    background-color: #F56C6C;
}
.__bg_color_orange{
    color: white;
    background-color: #E6A23C;
}